[project]
	description = Show how implementing MVP pattern with JavaFX and how testing it
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Olivier TERRIEN (oterrien)
[access "refs/for/refs/*"]
	read = group user/Olivier TERRIEN (oterrien)
	push = group user/Olivier TERRIEN (oterrien)
	label-Code-Review = -2..+2 group user/Olivier TERRIEN (oterrien)
	label-Verified = -1..+1 group user/Olivier TERRIEN (oterrien)
	rebase = group user/Olivier TERRIEN (oterrien)
	removeReviewer = group user/Olivier TERRIEN (oterrien)
	submit = group user/Olivier TERRIEN (oterrien)
[access "refs/heads/*"]
	read = group user/Olivier TERRIEN (oterrien)
	create = group user/Olivier TERRIEN (oterrien)
	push = +force group user/Olivier TERRIEN (oterrien)
	pushMerge = group user/Olivier TERRIEN (oterrien)
[access "refs/tags/*"]
	push = +force group user/Olivier TERRIEN (oterrien)
	pushTag = group user/Olivier TERRIEN (oterrien)
	pushSignedTag = group user/Olivier TERRIEN (oterrien)
